In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv(Path('testset.csv'))
df.head(5)

   RegionName State  Year          City  RentPrice SocialSecurity
0     77449.0    TX   1940          NaN        NaN          22.71
1     77494.0    TX   1945          NaN        NaN          25.11
2     79936.0    TX   1950      El Paso        NaN          43.86
3     11385.0    NY   1951     New York        NaN          42.14
4     90011.0    CA   1952  Los Angeles        NaN          49.25

In [4]:
df.count()

RegionName        37
State             37
Year              75
City              35
RentPrice          0
SocialSecurity    75
dtype: int64