In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv(Path('Zip_zori_sm_sa_month.csv'))
df.head(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-03-31,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,1274.486599,...,1760.163713,1776.956148,1787.225513,1767.318488,1766.131340,1798.690579,1834.794709,1835.665366,1823.143723,1795.417600
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1583.440822,...,1902.370759,1896.332546,1913.605155,1924.439736,1946.767562,1968.036840,1973.286379,1986.741425,1974.166886,1962.917026
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1251.191808,1264.470807,1251.347748,1247.722266,1262.914798,1307.875832,1336.766790,1347.825413,1325.927884,1341.994048
3,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2200.677014,...,2713.079330,2733.189307,2792.637192,2838.259479,2939.885355,3005.152360,3063.212369,3064.132996,3071.135289,3073.108549
4,95992,5,90011,zip,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,NaN,...,NaN,NaN,NaN,NaN,1772.039812,1765.432408,1834.407021,1869.921344,1937.851660,1950.666667

In [4]:
df.columns.to_list()

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'State',
 'City',
 'Metro',
 'CountyName',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31',
 '2021-01-31',
 '2021-02-28',
 '2021-03-31',
 '2021-04-30',
 '2021-05-31',
 '2021-06-30',
 '2021-07-31',
 '2021-08-31',
 '2021-09-30',
 '2021-10-31',
 '2021-11-30',
 '2021-12-31',
 '2022-01-31',
 '2022-02-28',
 '2022-03-31',
 '2022-04-30',
 '2022-05-31',
 '2022-06-30',
 '2022-07-31',
 '2022-08-31',
 '2022-09-30',
 '2022-10-31',
 '2022-11-30']

In [7]:
df.count()

RegionID      5825
SizeRank      5825
RegionName    5825
RegionType    5825
StateName     5825
              ...
2022-07-31    4678
2022-08-31    4800
2022-09-30    4926
2022-10-31    5248
2022-11-30    5816
Length: 102, dtype: int64

In [11]:
df = df.dropna()

In [12]:
df.count()

RegionID      907
SizeRank      907
RegionName    907
RegionType    907
StateName     907
             ...
2022-07-31    907
2022-08-31    907
2022-09-30    907
2022-10-31    907
2022-11-30    907
Length: 102, dtype: int64

In [13]:
df.head(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-03-31,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
3,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2200.677014,...,2713.079330,2733.189307,2792.637192,2838.259479,2939.885355,3005.152360,3063.212369,3064.132996,3071.135289,3073.108549
6,91733,7,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,1216.294249,...,1643.503931,1622.469988,1624.481901,1636.911614,1663.631378,1679.694521,1661.076916,1641.042672,1634.427485,1651.535450
11,61807,15,10467,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,1309.224678,...,1868.778531,1941.126100,2002.724759,1942.152253,1874.587927,1919.833560,1993.827331,2050.818817,2012.078721,1993.392857
12,62037,16,11226,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,1863.451061,...,2347.279638,2363.812252,2409.678929,2436.350666,2491.133160,2500.057799,2503.392836,2521.447249,2541.305390,2562.622294
15,96107,19,90250,zip,CA,CA,Hawthorne,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1077.953273,...,1837.925680,1790.359623,1841.416762,1857.419983,1900.613273,1877.435285,1904.828176,1897.540087,1912.360546,1857.952381

In [28]:
df = df.rename(columns = {'RegionName':'Zip Code'})

In [29]:
df.head(5)

,RegionID,SizeRank,Zip Code,RegionType,StateName,State,City,Metro,CountyName,2015-03-31,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
3,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2200.677014,...,2713.079330,2733.189307,2792.637192,2838.259479,2939.885355,3005.152360,3063.212369,3064.132996,3071.135289,3073.108549
6,91733,7,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,1216.294249,...,1643.503931,1622.469988,1624.481901,1636.911614,1663.631378,1679.694521,1661.076916,1641.042672,1634.427485,1651.535450
11,61807,15,10467,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,1309.224678,...,1868.778531,1941.126100,2002.724759,1942.152253,1874.587927,1919.833560,1993.827331,2050.818817,2012.078721,1993.392857
12,62037,16,11226,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,1863.451061,...,2347.279638,2363.812252,2409.678929,2436.350666,2491.133160,2500.057799,2503.392836,2521.447249,2541.305390,2562.622294
15,96107,19,90250,zip,CA,CA,Hawthorne,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1077.953273,...,1837.925680,1790.359623,1841.416762,1857.419983,1900.613273,1877.435285,1904.828176,1897.540087,1912.360546,1857.952381

In [33]:
df.drop(columns = ['RegionID','SizeRank','RegionType','StateName'])

,Zip Code,State,City,Metro,CountyName,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
3,11385,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2200.677014,2238.296428,2270.718486,2317.569703,2333.697900,...,2713.079330,2733.189307,2792.637192,2838.259479,2939.885355,3005.152360,3063.212369,3064.132996,3071.135289,3073.108549
6,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,1216.294249,1212.568985,1214.428170,1221.913377,1214.775399,...,1643.503931,1622.469988,1624.481901,1636.911614,1663.631378,1679.694521,1661.076916,1641.042672,1634.427485,1651.535450
11,10467,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,1309.224678,1310.522958,1330.451629,1355.921250,1371.572785,...,1868.778531,1941.126100,2002.724759,1942.152253,1874.587927,1919.833560,1993.827331,2050.818817,2012.078721,1993.392857
12,11226,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,1863.451061,1920.545783,1926.696942,1929.221115,1904.140112,...,2347.279638,2363.812252,2409.678929,2436.350666,2491.133160,2500.057799,2503.392836,2521.447249,2541.305390,2562.622294
15,90250,CA,Hawthorne,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1077.953273,1076.366220,1059.992502,1044.149704,1062.201701,...,1837.925680,1790.359623,1841.416762,1857.419983,1900.613273,1877.435285,1904.828176,1897.540087,1912.360546,1857.952381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5616,2111,MA,Boston,"Boston-Cambridge-Newton, MA-NH",Suffolk County,3080.947142,3215.298056,3278.924104,3172.618862,3120.319199,...,3515.837195,3513.336980,3540.557536,3648.594902,3702.574177,3718.817719,3768.978025,3829.167851,3946.402285,3953.925685
5684,2113,MA,Boston,"Boston-Cambridge-Newton, MA-NH",Suffolk County,2032.294570,2026.372042,2030.370589,2045.206205,2068.537229,...,2411.914103,2461.311737,2443.802918,2439.548773,2478.418187,2499.287253,2564.345232,2677.510800,2713.145911,2626.041667
5712,19127,PA,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Philadelphia County,1591.246446,1573.202736,1617.726224,1619.269831,1645.077733,...,1933.368681,1950.627879,1968.338345,1977.417036,2033.685655,2045.940536,2084.283361,2072.538940,2044.342996,2046.578788
5794,10006,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,3133.081368,3129.035399,3117.850041,3153.689419,3209.962654,...,3725.302225,3757.206105,3775.556021,3825.944370,3926.267816,3955.848643,3937.076072,3896.555939,3991.011658,4032.126263
5819,11109,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2714.961403,2811.799283,2879.532800,2887.349782,2852.467667,...,3702.514471,3747.346636,3798.749500,3843.265221,3866.677206,3947.416874,3955.840688,4008.611085,4020.632861,4055.281746

In [38]:
df.pivot(columns='var', values='val')

KeyError: 'var'